
<div style="font-size:12px;color:black;line-height:20px">
    <div style="float:left;width:48%;">
        <ul>
            <li>Safe navigational watch</li>
            <li>Berthing,anchoring and other mooring operations</li>
            <li>Handling of dry cargo,oil cargo,chemicals,dangerous good and stores</li>
            <li>Safe operation of deck equipment and machinery</li>
        </ul>
    </div>
    <div style="float:right;width:48%;">
        <ul>
            <li>Elements of ocupational health and safety precautions</li>
            <li>Prevention of pollution of the marine environment</li>
            <li>Assist in operation of survival craft and rescue boats</li>
            <li>Assist in shipboard maintenance and repair</li>
        </ul>
    </div>
</div>


<div style="font-size:12px;color:black;line-height:20px">
    <div style="float:left;width:48%;">
        <ul>
            <li>Safe engineering watch in manned engine-room or periodically unmanned engine room.</li>
            <li>Monitoring and controlling of an  engine-room watch </li>
           <li>Procedures for fuelling and oil transfer operations </li>
            <li>Procedures for bilge and ballast operations</li>
            <li>safe operations of equipment and machinery</li>
        </ul>
    </div>
    <div style="float:right;width:48%;">
        <ul>
          <li>Safe use of electrical equipment</li>
            <li>Assist in shipboard maintenance and repair</li>
            <li>Safe handling of stores</li>
            <li>Prevention of pollution of the marine Environment</li>
            <li>Elements of occupational health and safety precautions</li>
        </ul>
    </div>
</div>