@{
    ViewBag.Title = "DatatableDemo";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div style="color:maroon;font-size: 20px;">DatatableDemo</div>

<script src="~/ListScripts/DatatableDemo.js"></script>
<style type="text/css">
</style>
<div>
    <table id="tblEmployeeList" class="display">
        <thead>
            <tr>
                <th>Emp No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Country</th>
                <th>State</th>
                <th>Mobile No</th>
                <th>Email Id</th>
                <th>ZipCode</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

