
@{
    ViewBag.Title = "jqEmpList";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Employee List</h2>
<script src="~/ListScripts/JqEmpList.js"></script>
<table id="EmpList" style="width: 100%;"> </table>
<div style="width:100%;" id="pager"></div>

