
@{
    ViewBag.Title = "JqPageList";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Employees List</h2>
<script src="~/ListScripts/JqPageList.js"></script>
<table id="EmpList" style="width: 100%;"> </table>
<div style="width:100%;" id="pager"></div>