@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CkEditorDemo</title>
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <div class="well">
        <div id="datetimepicker3" class="input-append">
            <input data-format="hh:mm:ss" type="text" />
            <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                </i>
            </span>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="http://localhost:58478/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datetimepicker3').datetimepicker({
                pickDate: false
            });
        })
        //$(function () {
        //    $('#datetimepicker3').datetimepicker({
        //        pickDate: false
        //    });
        //});
    </script>
    <div>
    </div>
</body>
</html>
