
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Index</h2>

<div ng-app="">
    <p>Name : <input type="text" ng-model="name" /></p>
    <h3>Hi {{name}}</h3>
    <p>A : <input type="text" ng-model="A" /></p>
    <p>B : <input type="text" ng-model="A" /></p>
    <p>C : </p>


</div> 